:root {
  /* Primary */

--Blue: hsl(246, 80%, 60%);

--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);

/* Neutral */

--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--Very-dark-blue);
}

main{
  /* border: 1px solid orange; */
  height: 100vh;
}

.container {
  /* border: 1px solid orangered; */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(3, 150px); */
  grid-auto-rows: 150px;
  
  grid-gap: 10px;
  height: 60%;
}

.user-box {
  /* border: 2px solid green; */
  background-color: var(--Dark-blue);
  border-radius: 10px;
}

.profile-pic img {
  width: 60px;
}

.user-info {
  /* border: 2px solid cyan; */
  color: white;
  background-color: var(--Violet-social);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px 55px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time {
  /* border: 2px solid purple; */
  color: var(--Pale-Blue);
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  font-size: 20px;
}

.active {
  color: red;
}

.time p {
  padding: 10px;
}

/* CARD START */

.card {
  border: 2px solid green;
  background-color: var(--Light-red-work);
  border-radius: 15px;
  align-items: flex-end;
  /* height: 250px; */
  overflow: hidden;

}

.hero-img {
  border: 2px solid lime;
  background-color: var(--Light-red-work);
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin-top: -10px;
  padding: 0 20px 0 0;
  overflow: hidden;

}

.hero-img img {
  width: 70px;
  height: 70px;
}

.card-info {
  border: 2px solid cyan;
  color: white;
  background-color: var(--Dark-blue);
  padding: 0 20px;
  border-radius: 15px;
  height: 120px;
}

header {
  font-size: 18px;
  /* margin-top: 20px; */
}

header, .card-desc, .time-period {
  border: 2px solid purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: 15px;


}

.hours {
  font-size: 40px;
}


