:root {
  /* Primary */

--Blue: hsl(246, 80%, 60%);

--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);

/* Neutral */

--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--Very-dark-blue);
}

main{
  /* border: 1px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 150px;
  grid-gap: 25px;
  height: 100%;
}

.card-container{
  /* border: 5px solid black; */
  width: 100%;
}

.user-box {
  /* border: 2px solid green; */
  background-color: var(--Dark-blue);
  border-radius: 10px;
}

.profile-pic {
  /* border: 2px solid orange; */
  margin: 0 12px 0 0;
}

.profile-pic img {
  width: 60px;
  border: 2px solid white;
  border-radius: 30px;
  margin: 0;
  padding: 0;
}

.user-info {
  /* border: 2px solid cyan; */
  color: white;
  background-color: var(--Violet-social);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 15px;
}

.user-info p:first-child {
  font-size: 14px;
}

.user-info p:last-child {
  font-size: 22px;
  
}

.user-details {
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
}

.time {
  /* border: 2px solid purple; */
  color: var(--Desaturated-blue);
  display: flex;
  justify-content: space-between;
  margin: 8px 25px;
  font-size: 20px;
}

.active {
  color: var(--Pale-Blue);
}

.time p {
  padding: 10px;
}

/* CARD START */

.card {
  /* border: 2px solid green; */
  background-color: var(--Light-red-work);
  border-radius: 15px;
  align-items: flex-end;
  overflow: hidden;
  margin: 0 0 15px 0;
}

.hero-img {
  /* border: 2px solid lime; */
  background-color: var(--Light-red-work);
  display: flex;
  justify-content: flex-end;
  height: 40px;
  margin-top: -10px;
  padding: 0 20px 0 0;
  overflow: hidden;

}

.hero-img img {
  width: 70px;
  height: 70px;
}

.card-info {
  /* border: 2px solid cyan; */
  color: var(--Desaturated-blue);
  background-color: var(--Dark-blue);
  padding: 0 20px;
  border-radius: 15px;
  height: 100px;
}

header {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

header, .card-desc, .time-period {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-top: 15px;
}

.hours {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.time-period {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    grid-auto-rows: 150px;
    height: 100%;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-auto-rows: 162px;
    gap: 18px;
  }
  
  .card {
    margin: 0;
  }

  .card-info {
    height: 140px;
    padding-top: 18px;
  }

  .user-box{
    grid-column: 1 / 3;
  }

  .profile-pic {
    margin-right: 25px;
  }

  .user-info {
  justify-content: center;
  }

  .time {
    margin: 0 160px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    display: block;
  }

  .container {
    display:  grid;
    grid-template-columns: 200px repeat(3, 220px);
    grid-auto-rows: 382px;
  }


  .card-container {
    grid-template-columns: repeat(3, 220px);
    grid-auto-rows: 180px;
  }

  .user-box {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* order: 1; */
  }

  .card-desc {
    display: block;
  }

  .card-info {
    padding-bottom: 20px;
  }

  .hours {
    margin-bottom: 10px;
    
  }

  .user-info {
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    padding: 0 0 0 25px;
  }

  .user-info img {
    margin: 12px 0 0 0;
  }
  
  .user-info p:last-child {
    font-size: 30px;
    margin: 0 25px 20px 0;
  }

  .time-period {
    justify-content: flex-start;
  }

  .time {
    flex-direction: column;
    margin: 8px 25px;
    font-size: 16px;

  }

  .time p {
    padding: 8px;
  }
}